@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Catalina: #06327d;
  --Black: #000000;
  --vegan: #209d5c;
  --lightblue: #cadbf8;
  --bluetiful: #2b70e4;
  --sunglow: #ffd034;
  --white: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body {
  max-width: 1200px;
  margin: 0 auto;

  padding: 2rem;
  background-color: var(--Catalina);
  font-family: Poppins;
  font-size: 1.125rem;
  line-height: 1.5;
}

.mycontainer {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.1667;

  font-weight: normal;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  /* display: flex;
  flex-flow: row wrap; */
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: normal;
  text-transform: uppercase;
}
.codewrap {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  border-top: solid var(--sunglow) 0.5rem;

  border-bottom: solid var(--sunglow) 0.5rem;
}
.cards-wrapper {
  background-color: var(--lightblue);
  padding: 1rem;
}
h3 {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: normal;
}
svg {
  width: 20px;
  height: 20px;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style-type: none;
  gap: 1rem;
}

a {
  color: var(--white);
  text-decoration-line: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.codebutton {
  background-color: var(--vegan);

  border-radius: 10px;

  text-align: center;
}

.button {
  padding: 0.5rem;
  background-color: var(--Catalina);
  border-radius: 10px;
  text-align: center;
  margin: 1rem auto;
  font-size: 1rem;
}

.codebox {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--white);
  padding: 0.5rem;
}
.box1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.box2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.box2 img {
  padding: 2rem;
  display: center;
  min-width: 25%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: var(--lightblue);
}
/* .card {
  display: grid;
} */
.coffee-title {
  /* max-width: 1200px;

  background-color: var(--lightblue); */
  grid-column: 1/5;
}
.card img {
  border-radius: 10px;
}
footer {
  /* display: flex;
  flex-flow: row wrap; */
  background-color: var(--Catalina);

  /* justify-content: center; */
  text-align: center;

  font-size: 0.8rem;
  color: var(--white);
}
.footer-span {
  display: block;
}

#burger-button {
  display: none;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 384px) {
  #burger-button {
    display: block;
    margin: 1rem auto;
  }

  nav ul {
    display: none;
  }
  svg {
    display: none;
  }

  .visible {
    display: block;
  }
}

@media (max-width: 650px) {
  body {
    padding: 1rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1100px) {
  /* .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
  header {
    display: flex;
    justify-content: space-between;
  }

  img {
    max-width: 100%;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
